    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Vitaliteit</h1>
                <h2>{{  message }}</h2>
                <p>
                    In deze hectische periode van ‘alsmaar moeten’ is er weinig tijd voor ontspanning en je lichaam weer te laten herstellen. Veel mensen kampen met stress gerelateerde ziekten, zoals burnout, overspannenheid, hoge bloeddruk en andere psychisch gerelateerde aandoeningen.
                    Er dient een ommekeer te komen. Zorg is een afgeleide van falende gezondheid. Daarom dient gezondheid, gezond worden en gezond blijven meer aandacht te krijgen.
                    Bewegen en voeding is onmiskenbaar gerelateerd aan een goede gezondheid. Veel ziekten kunnen hierdoor worden voorkomen. Denk bijvoorbeeld aan diabetes-II. Deze ziekte wordt vaak miskent, maar kan grote gevolgen hebben voor de gezondheid en het functioneren.
                </p>
                <p>
                    Vitaliteit staat voor levenskracht, energie, werkkracht, werklust. Dit gaat zowel de betrokkene aan als de omgeving waarin deze functioneert, zoals het werk. Een goede vitaliteit uit zich in meer energie, meer daadkracht en meer werklust. Vitaliteit is voor een werknemer essentieel om het werken te kunnen volhouden.
                </p>
                <p>
                    In Nederland bevinden zich veel centra, die, samen met cliënten de vitaliteit weer op peil brengen en te houden. In veel centra bevinden zich multidisciplinaire teams om de cliënten bij te staan.
                </p>
            </div>
        </div>
    </div>